@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

a {
    color: #fff;
    text-decoration: none;
}

/* Header Section Start */
header {
    width: 100%;
    height: 55px;
    background: #0F1D38;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

header ul img {
    padding: 6px 0px 0px 5px;
}

header ul li {
    display: inline-block;
    color: #fff;
    margin: 10px;
    font-weight: 600;
}

.active a {
    color: #fc2206;
}

.act a {
    color: #caf86f;
}

.multicolor-text {
    font-family: cursive;
    font-size: x-large;
    background: linear-gradient(to right, #ef5350, #7e57c2, #43a047, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* /Header Section End */

/* Banner Section Start */
.banner {
    width: 100%;
    height: 535px;
    background: url(../img/momondo.jpg);
    background-size: 100% 535px;
    position: relative;
    padding: 0px 160px;
}

.banner h1 {
    position: absolute;
    top: 100px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.banner h1 span {
    display: block;
}

.last {
    position: absolute;
    font-weight: bold;
    font-size: xx-large;
}

.banner form {
    background: #5b347a;
    position: absolute;
    bottom: 20px;
    height: 120px;
    display: flex;
    width: 67%;
}

.banner .box div span input {
    width: 12px;
    height: 12px;
    margin: 2px 3px 0px 5px;
}

.banner form .btn {
    background: #F12F4B;
    border: none;
    color: #fff;
    margin-left: 15px;
    width: 75px;
}

.banner button {
    background: #1d0448;
    border: none;
    color: #fff;
    font-size: 10px;
    padding: 6px 6px;
    width: 8%;
}

.box label {
    display: none;
}

.banner form .box input,
.banner form .box select {
    width: 160px;
    height: 30px;
    margin: 15px 0px 0px 5px;
}

.banner form .box input[type="date"] {
    width: 100px;
}

.banner form .box select {
    width: 145px;
    text-align: right;
}

.banner form .sbtn {
    background: #FF566A;
    font-size: large;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 15px 15px 15px 15px;
}

.banner .box div {
    display: flex;
    width: 70%;
    position: absolute;
    color: #fff;
    margin: 15px 3px 0px 5px;
    text-wrap: nowrap;
}

.banner .box div select {
    background: none;
    height: 20px;
    color: #fff;
    position: relative;
    margin: 0px 3px 0px 5px;
}

.banner .box div select option {
    background: #5b347a;
}

.icon {
    position: absolute;
    top: 45px;
    left: 20px;
    color: #808080;
}

/* /Banner Section End */

/* Fun Section Start*/
.fun {
    background: linear-gradient(rgba(18, 18, 18, 0.7), rgba(14, 14, 14, 0.7)),
        url(../img/banner2.jpg);
    width: 100%;
    height: 300px;
    position: relative;
    background-size: cover;
    padding: 30px 160px;
}

.fun h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.fun ul li {
    list-style: none;
    width: 150px;
    height: 170px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    margin: 10px 2px 0px 10px;
    padding: 16px 0px 9px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    clip-path: polygon(0 0,
            100% 0,
            100% 80%,
            50% 73%,
            0 80%);
}

.fun ul {
    display: flex;
    justify-content: space-between;
}

/* /Fun Section End */

/* News Letter Section Start */
.newsletter {
    background: linear-gradient(rgba(56, 43, 87, 0.9), rgba(56, 43, 87, 0.7)),
        url(../img/flight1.jpg);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.newsletter h2 {
    top: 40%;
    left: 40%;
    color: black;
    font-size: 25px;
    position: absolute;
    color: #fff;
    text-align: center;
}

.newsletter p {
    top: 55%;
    left: 40%;
    font: 100;
    position: absolute;
    color: #fff;
    text-align: center;
}

.newsletter input {
    top: 70%;
    left: 40%;
    position: absolute;
    color: #fff;
    background: none;
    border: solid #fff 2px;
    width: 500px;
    height: 40px;
    text-align: center;
}

.newsletter button {
    position: absolute;
    width: 100px;
    height: 40px;
    top: 70%;
    left: 80%;
}

/* News Letter Section End */

/* Destination Section Start */
.destination {
    width: auto;
    height: auto;
    background: #1F172F;
    color: #fff;
    text-align: center;
    padding: 30px 0px;
}

.destination ul {
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    grid-template-rows: 300px 300px;
    grid-gap: 20px;
    margin-left: 11%;
    margin-top: 20px;
}

.destination ul li {
    list-style: none;
    border: 5px solid #fff;
    border-radius: 5px;
    background: #fff;
    text-align: center;
}

.destination ul li img {
    height: 50%;
    width: 100%;
}

.destination ul li h4 span {
    color: #f43d3d;
    text-align: center;
}

.destination ul li P {
    color: #000000;
    text-align: center;
}

.destination ul li h4 {
    color: #000000;
    text-align: center;
}

/* /Destination Section End */

/* Estimate Section Start */
.estimate {
    width: auto;
    height: 200px;
    padding: 30px 0px 0px 200px;
    background: #664CAD;
    position: relative;
}

.estimate img {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.estimate label {
    display: none;
}

.estimate form {
    margin-top: 30px;
}

.estimate form select,
input {
    width: 160px;
    height: 40px;
    text-align: center;
}

/* /Estimate Section End */

/* Blog Section Start  */

.blog {
    width: 100%;
    height: auto;
    padding: 50px 125px;
}

.blog h2 {
    margin-bottom: 10px;
    text-align: center;
}

.blog p {
    text-align: justify;
    padding: 0px 200px;
}

.blog-content {
    margin: 10px;
    display: flex;
    padding: 0px 125px;
}

.blog-content hr {
    margin-bottom: 15px;
}

.blog-content div {
    display: flex;
    padding: 10px;
}

.blog-content div img {
    width: 120px;
    height: 120px;
}

.blog-content div div {
    display: inline-block;
}

/* /Blog Section End */

/* Footer Section Start */
footer {
    background: linear-gradient(rgb(0, 0, 0, 0.90), rgb(0, 0, 0, 0.90)),
        url(../img/departure.jpeg);
    font-size: 14px;
    width: 100%;
    height: auto;
    background-size: 100% 100%;
}

.list {
    display: flex;
    color: #fff;
    padding: 30px 100px;
    justify-content: center;
}

footer .sites {
    display: none;
}

footer .list ul {
    list-style: none;
    padding-right: 70px;
}

.list ul li {
    padding: 3px;
}

footer .list ul li img {
    width: 16px;
}

g {
    color: #8b8889;
}

footer .social {
    width: 100%;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

footer .social img {
    width: 55px;
    height: 38px;
    padding: 10px 0px 0px 10px;
}

footer .text {
    padding-left: 0px;
}

footer .text ul li i {
    color: #606162;
    font-size: larger;
}

footer .social .done {
    padding-left: 15px;
}

.social ul {
    list-style: none;
    display: flex;
    font-size: 17px;
    justify-content: center;
}

.social ul li {
    padding-top: 9px;
    padding-left: 14px;
}

.social-icon {
    margin-left: 120px;
}

/* /Footer Section End */

/* Media Query Start */
@media screen and (max-width:992px) {
    html {
        font-size: 15px;
    }

    .banner {
        width: 100%;
        padding: 0px 60px;
    }

    .banner {
        background: linear-gradient(rgba(56, 43, 87, 0.7), rgba(10, 34, 43, 0.1)),
            url(../img/sea.gif);
        background-size: 100% 100%;
    }

    .banner h1 {
        top: 20px;
        font-size: 35px;
        padding-left: 260px;
        color: #fff;
    }

    .banner form {
        width: 380px;
        height: 65%;
        display: flex;
        padding: 5px 10px 10px 10px;
        border-radius: 9px;
        margin-left: 25%;
    }

    .banner form div .btn,
    .banner button {
        font-size: 15px;
        padding: 0px 0px;
        width: 28%;
        height: 35px;
        margin-right: 10px;
    }

    .banner form .box input,
    .banner form .box input[type="date"],
    .banner form .box select {
        width: 350px;
        height: 40px;
        text-align: center;
        margin: 2px;
    }

    .banner form .box #arrow,
    .banner form .box .icon {
        display: none;
    }

    .banner form .box div #icon {
        display: none;
    }

    .banner form .box div {
        display: contents;
        color: #5aebeb;
    }

    .banner form .box div select {

        font-size: 12px;
        margin-top: 0px;
        height: 15px;
        width: 88px;
        border: none;
        color: #fff;
    }

    .banner form .box div span {
        font-size: 14px;
        margin-top: 0px;
        padding-right: 12%;
    }

    .banner .box div select option {
        background: #000000;
    }

    .banner form .sbtn {
        width: 280px;
        height: 40px;
        border-radius: 10px;
        margin: 295px 0px 0px -310px;
    }

    .banner form .sbtn:hover {
        background-color: #fff;
        color: #000000;
    }

    .fun {
        width: 100%;
        background-size: 100% 100%;
        height: auto;
        padding: 30px 150px;
    }

    .fun ul {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 6px;
    }

    .newsletter h2 {
        top: 30px;
        left: 65px;
        font-size: 20px;
        padding: 15px;
    }

    .newsletter input {
        width: 300px;
        top: 35%;
        left: 120px;
    }

    .newsletter button {
        width: 300px;
        top: 55%;
        left: 120px;
        background: #1d0448;
        font-size: 16px;
        color: #fff;
        border-style: outset;
    }

    .newsletter p {
        top: 100px;
        padding: 5px 40px 10px 90px;
        line-height: 20px;
        letter-spacing: 1px;
        width: 350px;
        text-align: justify;
    }

    .estimate {
        width: auto;
        height: auto;
        padding-top: 5px;
    }

    .estimate form {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;

    }

    .estimate form select,
    input {
        width: 400px;
        height: 40px;
    }

    .blog {
        padding: 30px 20px 20px 0px;
    }

    .blog p {
        text-align: justify;
    }

    .blog-content {
        display: inline;
    }

    .blog-content div {
        padding: 0px 50px 10px 100px;
    }

    .blog-content div img {
        width: 130px;
        height: 130px;
    }

    footer .social ul li,
    footer .social-icon,
    footer .done {
        font-size: small;
    }

    .list {
        padding: 30px 17px;
    }

}

@media screen and (max-width:768px) {
    html {
        font-size: 15px;
    }

    header {
        padding: 0px 10px;
    }

    .banner {
        width: 100%;
        padding: 0px 60px;
    }

    .banner h1 {
        top: 20px;
        font-size: 35px;
        padding-left: 180px;
    }

    .banner form {
        width: 380px;
        height: 65%;
        display: flex;
        padding: 5px 10px 10px 10px;
        border-radius: 9px;
        margin-left: 18%;
    }

    .fun {
        padding: 30px 130px;
    }

    .newsletter h2 {
        top: 30px;
        left: 65px;
        font-size: 20px;
        padding: 15px;
    }

    .newsletter input {
        width: 300px;
        top: 35%;
        left: 120px;
    }

    .newsletter button {
        width: 300px;
        top: 55%;
        left: 120px;
        background: #1d0448;
        font-size: 16px;
        color: #fff;
        border-style: groove;
    }

    .newsletter p {
        top: 100px;
        padding: 5px 10px 0px 150px;
        line-height: 20px;
        letter-spacing: 1px;
        width: 350px;
        text-align: justify;
    }

    .destination ul {
        display: grid;
        grid-template-columns: 37% 37%;
        grid-gap: 35px;
    }

    .destination {
        padding: 30px 0px 30px 60px;
    }

    .estimate {
        width: auto;
        height: auto;
        padding: 7px 0px 0px 140px;
    }

    footer {
        padding: 20px 170px;
        font-size: medium;
    }

    footer h3 {
        padding-top: 15px;
    }

    footer .list,
    footer .sites {
        display: block;
    }

    footer .sites1 {
        display: none;
    }

    footer .social ul li,
    footer .social-icon,
    footer .done {
        display: contents;
        text-wrap: nowrap;
    }

}

@media screen and (max-width:576px) {
    html {
        font-size: 15px;
    }

    header {
        padding: 2px 5px;
        font-size: 15px;
        height: 100px;
    }

    header ul li {
        margin: 3px;
    }

    .banner {
        padding: 0px 0px;
    }

    .banner h1 {
        padding-left: 28px;
        font-size: 30px;
    }

    .banner form {
        width: 300px;
        height: 70%;
        margin-left: 4%;
    }

    .banner form .box input,
    .banner form .box input[type="date"],
    .banner form .box select {
        width: 275px;
        height: 35px;
    }

    .banner form div .btn,
    .banner button {
        width: 28%;
        margin-right: 5px;
    }

    .banner form .sbtn {
        width: 250px;
        margin: 260px 0px 0px -263px;
        margin-top: 320px;
    }

    .banner form .box div span {
        display: block;
    }

    .banner form .box div {
        margin-top: 40px;
    }

    .fun {
        padding: 30px 15px;
    }

    .fun ul {

        grid-template-columns: auto auto;
        gap: 3px;
    }

    .fun ul li {
        width: 130px;
        height: 170px;
    }

    .newsletter h2 {
        left: 10px;
        padding: 0px;
    }

    .newsletter input {
        width: 200px;
        font-size: 14px;
        left: 65px;
        top: 65%;
    }

    .newsletter button {
        width: 200px;
        left: 65px;
        top: 82%;
    }

    .newsletter p {
        padding: 0px 6px 0px 6px;
        font-size: 12px;
        text-align: center;
        width: 280px;
        left: 28px;
    }

    .destination ul {
        grid-template-columns: 100%;
    }

    .destination {
        padding: 30px 33px 30px 0px;
    }

    .destination h2 {
        padding-left: 16px;
    }

    .estimate {
        padding: 7px 0px 0px 37px;
    }

    .estimate form select,
    input {
        width: 250px;
    }

    .estimate img {
        display: none;
    }

    .blog p {
        padding: 5px 30px;
        font-size: 18px;
    }

    .blog-content div {
        padding: 0px 15px 10px 20px;
        font-size: 20px;
    }

    .blog-content div img {
        width: 170px;
        height: 150px;
    }

    .blog-content div {
        flex-wrap: wrap;
    }

    footer {
        padding: 5px 0px 5px 20px;
        font-size: smaller;
    }

    footer .social .text {
        padding: 0px 0px 0px 160px;
    }

    footer .social-icon {
        display: flex;
        padding: 0px 0px 0px 230px;
    }

    footer .social .done {
        font-size: xx-small;
    }

    footer .social .done g {
        display: none;

    }

    footer .done span {
        font-size: large;
        background: #6e5586;
        padding: 0px 0px;
        font-family: cursive;
        color: #ee7f7d;
    }
}

/* Media Query End */